[core]
	editor = \"D:\\Programs\\VSCode\\bin\\code\" --wait
[user]
	email = 1269207838@qq.com
	name = nuko777
[alias]
	ls = log --graph --date-order --pretty='format:%Cblue%h%C(auto)%d %Cred@%an %Cgreen%cr%n%s%n'
[http "https://github.com"]
	proxy = http://127.0.0.1:10809
